@import '~@angular/material/theming';

@mixin player-component-theme($theme) {

  $is-dark: map-get($theme, is-dark);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, 