@import "~material-design-icons/iconfont/material-icons.css";
@import '~@angular/material/_theming.scss';

$typo: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);

@include mat-core($typo);

$light-theme: mat-light-theme(
    mat-palette($mat-blue, 600, 100, 900),
    mat-palette($mat-orange),
    mat-palette($mat-deep-orange, A200)
);

$dark-theme: mat-dark-theme(
    mat-palette($mat-light-green),
    mat-palette($mat-light-blue),
    mat-palette($mat-deep-orange, A200)
);

$blue-theme:  (
  primary: mat-pa